.container {
    padding: 0 10%;
}
@media all and (min-width: 320px) {
    .container {
        padding: 0;
    }
}
@media all and (min-width: 768px) {
    .container {
        padding: 0 10%;
    }
}

@media all and (min-width: 1024px) {
    .container {
        padding: 0 12.5%;
    }
}

@media all and (min-width: 1440px) {
    .container {
        padding: 0 15%;
    }
}
