@import "../../../pages/Landing/assets/scss/variable";
.card {
    background-color: $card-background;
    border: 1px solid $card-border;
    padding: 1rem;
}
@media all and (min-width: 320px) {
    .card {
        padding: {
            left: 0;
            right: 0;
        }
    }
}
@media all and (min-width: 768px) {
    .card {
        padding: {
            left: 10%;
            right: 10%;
        }
    }
}

@media all and (min-width: 1024px) {
    .card {
        padding: {
            left: 12.5%;
            right: 12.5%;
        }
    }
}

@media all and (min-width: 1440px) {
    .card {
        padding: {
            left: 15%;
            right: 15%;
        }
    }
}
