@import "../assets/scss/variable";
.website_type_container {
    border: 1px solid $info;
    border-radius: 6px;
    width: 80%;
    margin: {
        top: 10px;
        left: auto;
        right: auto;
        bottom: 10px;
    }

    .website_type_header {
        background-color: $background-ash;
        padding: 5px;
        color: $text-color;
    }
    .website_type_body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 10px;
        .website_type {
            position: relative;
            border: 1px solid $info;
            padding: 0;
            margin: {
                right: 10px;
            }
            img {
                width: 150px;
                height: 180px;
            }
            p {
                width: 100%;
                font-weight: 900;
                color: $primary;
                text-align: center;
            }
            &::before {
                position: absolute;
                content: "";
                background-color: rgba($info, 0.1);
                width: 100%;
                top: 0;
                left: 0;
                height: 100%;
            }
            &:hover {
                &::before {
                    background-color: rgba($info, 0.5);
                }
                p {
                    color: $text-color;
                }
            }
        }
    }
    .website_theme_body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 10px;
        .website_theme {
            width: 150px;
            height: 160px;
            position: relative;
            border: 1px solid $info;
            padding: 0;
            margin: {
                right: 10px;
            }
            p {
                position: absolute;
                top: 50%;
                width: 100%;
                font-weight: 900;
                color: $primary;
                text-align: center;
            }
            &::before {
                position: absolute;
                content: "";
                background-color: rgba($info, 0.1);
                width: 100%;
                top: 0;
                left: 0;
                height: 100%;
            }
            &:hover {
                &::before {
                    background-color: rgba($info, 0.5);
                }
                p {
                    color: $text-color;
                }
            }
        }
    }
    .website__domain {
        margin: 10px;
        max-width: calc(100% - 20px);
    }
    .btn_next {
        margin: {
            left: 10px;
            bottom: 10px;
            right: auto;
        }
    }
}
