$white: #fff;
$silver: #aeaeae;
$primary: #0068fe;
$secondary: #6e6e6e;
$info: #61a2f3;
$danger: #ff3100;
$success: #00fd66;
$warning: #ffa200;
$background: #fafafa;
$card-background: #ffffff;
$card-border: #dbdbdb;
