@import "../assets/scss/variable";
.forget__container {
    display: flex;
    justify-content: center;
    background-color: $background-ash;
    padding: {
        top: 30px;
        bottom: 30px;
    }
    .forget__card {
        width: 50%;
        margin: {
            top: 5%;
            right: auto;
            left: auto;
            bottom: auto;
        }
        padding: 10px;
        .forget_form {
            background-color: #fff;
        }
    }
}
.btn_primary {
    display: block;
    width: 100%;
    margin: {
        top: 1rem;
        bottom: 1rem;
    }
    &:disabled {
        background-color: #dbdbdb;
        color: black;
        cursor: not-allowed;
        border: 1px solid $danger;
    }
}

.signup__div {
    margin-top: 10px;
    padding-left: 10px;
}
