@import "../../../pages/Landing/assets/scss/variable";
.header {
    margin: {
        top: 1rem;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    div {
        width: 50%;
        h1 {
            color: $text-color;
            font-size: 2.75rem;
        }
        p {
            font-size: 1rem;
            margin: {
                top: 1rem;
                bottom: 1rem;
            }
            color: $text-color;
        }
        a {
            padding: 10px 20px;
            border-radius: 4px;
        }
        img {
            width: 100%;
        }
    }
}
@media all and (min-width: 320px) {
    .header {
        display: block;
        div {
            width: 100%;
            padding: 10px;
        }
    }
}

@media all and (min-width: 1024px) {
    .header {
        display: flex;
    }
}
